language: java
jdk:
- oraclejdk8

dist: trusty

branches:
  only:
  - master

cache:
  directories:
  - $HOME/.m2

script:
  - mvn clean install

after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH != "master" &&  exit
  - mvn install -DskipTests -Pupdate-version
